.professionals-container {
  display: flex;
  height: 100vh;
}

.professionals-main {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

/* HEADER */
.professionals-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background-color: #f8fafc;
  border-bottom: 1px solid #ddd;
}

.page-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.notification-icon {
  font-size: 1.4rem;
  color: #555;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-details {
  text-align: right;
}

.user-name {
  display: block;
  font-weight: bold;
  color: #333;
}

.user-role {
  font-size: 0.85rem;
  color: #666;
}

.user-photo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #444;
}

/* CONTEÚDO */
.professionals-content {
  height: 90%;
  background-color: #f1f5f9;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* FORMULÁRIO */
.professional-form {
  background-color: #ffffff;
  width: 70%;
  border-radius: 12px;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 500;
  color: #333;
  margin-bottom: 6px;
}

.form-group input {
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 0.95rem;
  transition: border 0.2s;
}

.form-group input:focus {
  border-color: #778c42;
}

/* O botão ocupa toda a linha */
.submit-button {
  grid-column: span 2;
  justify-self: end;
  background-color: #778c42;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

.submit-button:hover {
  background-color: #687b3a;
}


.error-message {
  color: #dc2626;
  font-size: 0.85rem;
  margin-top: 4px;
}

.success-message {
  grid-column: span 2;
  background-color: #d1fae5;
  color: #065f46;
  border: 1px solid #10b981;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 500;
}
